/* TABLE OF CONTENTS */
/*----------------------------
1. GENERAL
2. NAVBAR
3. BANNER
4. ABOUT
5. SERVICES
6. SPECIALIST
7. DOCTORS
8. FOOTER
----------------------------*/

/* 1. GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#004caa ;
    --secondary-color:  #fc5185;
    --bg-light-blue: #3672bc;
    --bg-dark:#666;
    --bg-white:#fff;

    /* Text Styles */
    --primary-font: 'roboto slab', serif;
    --secondary-font: 'josefin sans', sans-serif;
    --primary-text:#004caa;
    --secondary-text:#fc5185;
    --text-white:#fff;
    --text-black:#222;
    --text-gray:#666;
    --text-light:#ddd;

}

body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}

a {
    text-decoration: none;
}

 ::-webkit-scrollbar {
    width: .375rem;
 }

    ::-webkit-scrollbar-track {
        background-color: var(--bg-light-blue);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--secondary-color);
    }

    .wrapper {
        padding:6.25rem 0;
    }

    .main-btn{
        display: inline-block;
        border: .0625rem solid var(--bg-white);
        color:var(--text-white);
        text-align:center;
        padding:.75rem 1.375rem;
        font-size:1rem;
        background:transparent;
        text-transform: capitalize;
        border-radius: .1875rem;
        transition: all 0.3s ease-in-out;
}
.main-btn:hover{
    background-color:var(--secondary-color);
    border-color:var(--secondary-color);
    color:var(--text-white);
}
.fill-btn{
    background-color:var(--secondary-color);
    border-color: var(--secondary-color);
    color:var(--text-white);
}
.fill-btn:hover{
    background-color:var(--bg-white);
    border-color: var(--bg-white);
    color:var(--text-black);
}
h1{
    font-size:3.875rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color:var(--text-white);
    font-family: var(--secondary-font);
}
h2{
    font-size:2.875rem;
    font-weight: 600;
    color:var(--text-white);
    font-family: var(--secondary-font);
}
h3{
    font-size:2.25rem;
    font-weight: 600;
    color:var(--text-white);
    font-family: var(--secondary-font);
}
h4{
    font-size:1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    color:var(--text-black);
    font-family: var(--secondary-font);
}
h5{
    font-size:1.5rem;
    line-height: 1.2;
    font-weight: 500;
    color:var(--primary-text);
    margin-bottom: .9375rem;
    font-family: var(--secondary-font);
}
h6{
    font-size:.875rem;
    font-weight:300;
    line-height: 2.25rem;
    color:var(--text-black);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}
p{
    font-size: 1rem;
    color:var(--text-gray);
    line-height:1.625rem;
}
.card{
    border-radius: .625rem;
    background-color: var(--bg-white);
    box-shadow: .5084rem 1.1419rem 2.5rem 0 rgba(0 0 0 / 8%);
    padding:3.75rem 3.125rem 4.6875rem;
    -webkit-transition: all .4s;
    transition: all .4s;
    border:0;
}

/* 2. NAVBAR */
.header_wrapper .navbar{
    padding:.9375rem 0;
    background-color: transparent;
    transition:0.3s ease-in-out;
}
.header_wrapper .navbar-toggler {
    border:0;
    box-shadow: none;
    color:var(--text-black);
    line-height: 2;
}

.header_wrapper .nav-item{
    margin:0 .625rem;
}

.header_wrapper .nav-item .nav-link{
    font-size: 1.125rem;
    font-weight: 400;
    color:var(--primary-text);
    display:inline-block;
    font-family: var(--secondary-font);
}

.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:focus,
.header_wrapper .nav-item .nav-link.active{
    color:var(--secondary-text);
}
.navbar.header-scrolled{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 999;
    background-color:var(--bg-white); 
    box-shadow: .5084rem 1.1419rem 2.5rem 0 rgb(0 0 0 / 8%);
    transition: 0.3s ease-in-out;
}

/* 3. BANNER */
.banner_wrapper{
    background-image:url('../image/top-banner-img/bg.jpg'); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}
.banner_wrapper p{
    max-width: 80%;
    color:var(--text-white);
}


/* 4. ABOUT */
.about_wrapper h2{
    color:var(--text-black);
}
.about_wrapper .card{
    width:80%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about_wrapper .about-website{
    flex:0 0 auto;
    width:50%;
}
.about_wrapper .about-website:nth-child(1),
.about_wrapper .about-website:nth-child(2){
    margin-bottom:2.8125rem;
}
.about_wrapper .about-website:nth-child(2),
.about_wrapper .about-website:nth-child(4){
    padding-left:3.75rem;
}
.about_wrapper .line-1,
.about_wrapper .line-2{
    content: '';
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:.0313rem;
    height:100%;
    background: var(--bg-dark);
}
.about_wrapper .line-2{
    width:100%;
    height: .0625rem;
}

/* 5. SERVICES */
.services_wrapper h3{
    color:var(--text-black);
}

.services_wrapper .card:hover{
   -web-transform:translatey(-0.625rem);
    transform:translatey(-0.625rem);
}
.services_wrapper .icon-box{
    text-align: center;
    margin:0 auto 2.5rem;
   
}
 
/*6. SPECIALIST */
.specialist_wrapper{
    background-color: var(--primary-color);
}
.specialist_wrapper .card{
    background-color: transparent;
    border:.0625rem solid var(--bg-light-blue) ;
    box-shadow: none;
    padding:2.5rem;   
}
.specialist_wrapper .card:hover{
    background:var(--bg-light-blue);
    cursor:cell;
    border-color:transparent;
}
.specialist_wrapper .card h4{
    color:var(--text-white);
}
.specialist_wrapper .icon-box{
    margin-bottom: 1.875rem;
}
.specialist_wrapper .card img{
    mix-blend-mode:light-draken;
}
    

/* 7. DOCTORS */